*{margin:0; padding:0; outline:0;}
body{font-family: arial; font-size: 15px; line-height: 18px;background:#ECE9D8;}
.template{width: 960px; margin:0 auto;}
.clear{overflow: hidden;}

.header{background-color: #323231;height: 80px;}

.headerleft{width: 450px;color: #fff;float:left;}
.headerleft h2{font-size: 40px; line-height:50px; padding-left:50px;}
.headerright{width: 510px;float:right; color:#fff;padding-top:28px;}
.headerright a{color:#fff;text-decoration:none; font-size:18px;
	font-weight:bold;
}
.headerright a:hover, #active{
	color:#00A1F1;
}

.mainsecton{background:#ffffff;}

.slogansecton{border-bottom:2px dotted #a8a8a8;margin-left:50px;
		margin-right:50px;margin-top:30px;padding-bottom:28px;
		}
.slogansecton h2{font-size:45px;line-height:58px;color:#000;}
.slogansecton h3{font-size:32px;line-height:35px;color: #A4A1A4;}

.description{
	margin:28px 50px 50px;
	padding-bottom:30px;
	font-size:25px;
	line-height:27px;
	color:#666;
	border-bottom:2px dotted #a8a8a8;
			
}

.contentsection{
    margin-bottom: 20px;
    padding-bottom: 20px;
}
.servics{
	background-color:#00A0F1;
	float:left;
	width: 212px;
	margin-left:52px;
	padding: 20px;
	box-shadow: 5px 5px 4px 0px #999;
	}
.servics h2{
	color:#fff;
	border-bottom:1px dotted #fff;
	padding-bottom:15px;
	margin-bottom:15px;
	font-size:28px;
	text-align:center;
}
.servics p{
	color:#fff;
	text-align:center;
	font-size:16px;
	line-height:22px;
}
.readmore{
	background-color:#00709B;
	text-align:center;
	padding:10px;
	margin-top:20px;
}
.readmore a{
	color:#ddd;
	font-size:15px;
	font-weight:bold;
	text-decoration:none;
	text-transform:uppercase;
}

.mainbottom{
	border-top:2px dotted #ccc;
	border-bottom:2px dotted #ccc;
	margin:30px 50px 20px;
	padding-top:30px;
	
	padding-bottom:30px;
}
.clientsection{
	width:398px;float:left;
	border-right:2px dotted #ccc;
	padding-right:30px;
    margin-right:30px;
	}
.clientsection h2{font-size:25px;color:#666;line-height:30px;}

.testmonial{margin-top:20px;}
.clientimage{float:left;margin-right:20px;width:80px;}
.clientimage img{width:80px; height:80px;}

.clientdesc{float:right;width:298px;}
.clientdesc p{color:#666;}
.clientdesc a{text-decoration:none;color:#00A0F1;}
.clientname{font-weight:bold;margin-top:8px; }

.projectsection{
	width:400px;
	float:right;
}
.projectsection h2{font-size:25px;color:#666;line-height:30px;}
.projectsection h3{color:#999;margin-bottom:8px;margin-top:5px;}
.projectsection img{
	width: 398px;
	height: 140px;
	border:1px solid #ddd;
	border-radius: 3px;
	margin-bottom:5px;
	}
.projectsection p{color:#666;margin-bottom:10px;}
.projectsection a{text-decoration:none;color:#00A0F1;font-size:16px;}
.fottersection{
	background:#FFFFFF;
}	
.fottersection p{
	margin-left:50px;
	margin-bottom:20px;
	color:#999;
}

